# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
game.html
game.js
.vscode/.BROWSE.VC.DB
.vscode/.BROWSE.VC.DB-shm
.vscode/.BROWSE.VC.DB-wal
.vscode/launch.json
.vscode/.BROWSE.VC.DB
game.data
